a {
	color: #A5C882;
}

a:hover {
color: #4E6766;
}

#hero {
	min-height: 300px;
	background: #1edbb1;
	opacity: 0.2;
}

.card-img-top {
	height: 250px;
	object-fit: cover;
}

.container, .row {
	margin-bottom: 40px;
}

.col {
	/*background: #1edbb1;*/
	padding: 15px;
}

hr {
	background-image: url(images/tree-border.png);
	background-repeat: repeat-x;
	height: 11px;
}

body {
	background-color: #f6f3eb
}

.navbar-brand img{
	max-height: 60px;
}

.firma {
	background: #afe2ed !important;
}

.kano {
	background: #ece !important;
}

#language-select {
	position: fixed;
	top: 50px;
	left: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	background: #fff;
	z-index: 10000000;
}

#language-select ul {
	list-style-type: none;
	padding: 0px;
	margin: 10px;
}

#language-select ul li {
	background: #eee;
	border-radius: 2px;
	cursor: pointer;
	margin-bottom: 7px;
}

.col-link {
	display: block;
	max-width: 100%;
}

.feature-box {
	border-radius: 4px;
	padding: 20px;
}

.feature-image {
	width: 100%;
	height: 200px;
	object-fit: cover;
	margin-bottom: 20px;
}

#volume {
	position: fixed;
	top: 50px;
	left: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	background: #ff5;
}

#volume ul {
	list-style-type: none;
	padding: 0px;
	margin: 10px;
}

#volume ul li {
	background: #ccc;
	border-radius: 2px;
	cursor: pointer;
	margin-bottom: 7px;
}

.carousel-item img {
	width: 100%;
	max-height: 300px;
	object-fit: cover;
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
=======
#carouselExampleIndicators {
	margin-bottom: 20px;
}

.breadcrumb {
	background: none;
}
