/* ---------------------
colors
------------------------

Brand colors:

#f6f3eb eggshell
#adba65 dusty green
#7f9eb5 dusty blue

Secondary colors:

#223747 dark dusty blue (text on dusty blue bg)
#64a6db bright dusty blue (link on dusty blue bg)
#c0ccd6 very light dusty blue (link hover on dusty blue bg)

#d8e0aa dusty light green

Firma-event:
#b3c4d1 firma background


----------------------*/
* {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 700;
	color: #000000;
}

h2 {
	font-size: 1.2em;
}

a {
	color: #A5C882;
}

a:hover {
	color: #4E6766;
}


.container, .row {
	margin-bottom: 40px;
}

.col-md-4, .col-md-8 {
	/*background: #1edbb1;*/
	padding: 15px;
}

hr {
	background-image: url(images/tree-border.png);
	background-repeat: repeat-x;
	height: 11px;
	margin-top: 0px;
}

body {
	background-color: #f6f3eb
}

.centered-content-col {
	text-align: center;
}

.navbar-brand img{
	max-height: 60px;
}


.firma {
	background: #bad8d3 !important;
}

.kano {
	background: #ece !important;
}

.ltgreenbg {
	background: #d8e0aa;
}

#rutevejl {
	width: 100%;
}

#language-select {
	position: fixed;
	top: 50px;
	left: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	background: #fff;
	z-index: 1500;
}

#language-select ul {
	list-style-type: none;
	padding: 0px;
	margin: 10px;
}

#language-select ul li {
	border-radius: 2px;
	cursor: pointer;
	margin-bottom: 7px;
}

.col-link {
	display: block;
	max-width: 100%;
}

.feature-box {
	border-radius: 4px;
	padding: 20px;
}

.feature-box h3 {

}

.feature-image {
	width: 100%;
	height: 240px;
	object-fit: cover;
	margin-bottom: 20px;
}

/* ---------------------
cards
----------------------*/

.card {
	cursor: pointer;
	border: 0;
}

.card:hover {
	background-color: #d8e0aa;
}

.card-img-top {
	height: 250px;
	object-fit: cover;
}

#events-preview * .card-img-top {
	height: 150px;
}

#events-preview * h5 {
	font-size: 1.1em;
}

/* ---------------------
slider
----------------------*/

img {
  max-width: 100%;
}

.carousel-item img {
	width: 100%;
	height: 340px;
	object-fit: cover;
}

.front-caption h5 {
	color: white;
	font-size: 50px;
	margin: 20px;
	text-shadow: 2px 2px #223747;
}

.front-caption p {
	color: white;
	font-size: 20px;
	margin: 20px;
	text-shadow: 2px 2px #223747;
}

.event-caption h5 {
	color: white;
	font-size: 90px;
	margin: 40px;
	text-shadow: 2px 2px #223747;
}

#carouselExampleIndicators {
	margin-bottom: 40px;
}

/*color gradients */

.halloween::before {
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index:0;
  background-color: rgba(253, 227, 167, 0.5);
}

.aarskort::before {
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index:0;
  background-color: rgba(200, 247, 197, 0.5);
}

.fb::before {
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index:0;
  background-color: rgba(82, 179, 217, 0.5);
}




/* ---------------------
tables
----------------------*/

.inactive-table * {
	color: #ccc;
}

th {
	font-weight: 700;
}



/* ---------------------
events
----------------------*/

#event-categories {
	display: flex;
	justify-content: center;
}

#event-categories .input-group {
	align-items: flex-start;
	width: auto;
	margin-right: 14px;;
}

#event-categories .input-group:last-child {
	margin-right: 0px;
}

#event-categories * .input-group-text {
	line-height: 1.0;
	padding: 0 10px;
	border: 0;
	background: #d8e0aa
}

#event-categories .input-group * p {
	line-height: 1.0;
	margin-top: 14px;
	margin-left: 7px;
}


#call-checkbox .input-group {
	width: auto;
}

#call-checkbox * .input-group-text {
	background: #ffffff
}

#call-checkbox .input-group * p {
	line-height: 0.1;
	margin-top: 14px;
	margin-left: 7px;
}
/* ---------------------
forms
----------------------*/


/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
	float: right;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* ---------------------
footer
----------------------*/

footer {
	background-color: #7f9eb5;
	margin-bottom: 0px;
	color: #223747;
	padding: 40px;
}

footer * .containter, footer * .row {
	margin-bottom: 0px;
}

footer * .fa {
	font-size: 36px;
	margin-right: 5px;
}

footer * h2 {
	font-size: 1.5em;
}

footer * h3 {
	font-size: 1.1em;
}

footer * a:link, footer * a:visited, footer * a:active {
	color: #1567a5;
}

footer * a:hover {
	color: #188ae0;
	text-decoration: none;
}

footer * input[type=text] {
	margin-right: 10px;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	border-color: #223747;
	color: #223747;
}

footer * button[type=submit] {
	background-color: #1567a5;
	border-color: #1567a5;
}

footer * ::placeholder {
	color: #a7c2d6;
}
/* ---------------------
Dropdown
----------------------*/

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}


/* ---------------------
break points, etc
----------------------*/

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  .col-md-4, .col-md-8 {
  	margin-bottom: 50px;
  }

  #firma, #third-card-event {
  	display: none;
  }
}


/* breakpoint for dropdown */
@media(min-width:  768px) {
  .dropdown-menu {
    margin-top: 0; // fixes closing on slow mouse transition
  }
}
