#hero {
	min-height: 300px;
	background: #1edbb1;
	opacity: 0.2;
}

.card-img-top {
	height: 200px;
	object-fit: cover;
}

<<<<<<< HEAD
.container, .row {
	margin-bottom: 40px;
}

.col {
	background: #1edbb1;
}
=======
body{
	background-color: #f6f3eb
}
>>>>>>> 3e29cb63cf31416df12d72635642bd9d82180dbb
